*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-shadow: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  line-height: 1.6;
  font-family: "Lato", sans-serif;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }
  .heading-primary__main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.7rem;
    animation: moveInLeft 1s .1s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary__main {
        font-size: 3.5rem;
        letter-spacing: 2rem; } }
  .heading-primary__sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.8rem;
    animation: moveInRight 1s .1s ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary__sub {
        font-size: 1.8rem;
        letter-spacing: 1.2rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.81), rgba(40, 180, 133, 0.81));
  color: #fff;
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  width: 100%;
  transition: all .2s; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewX(12deg) skewY(2deg) scale(1.09); }

.heading-tertiary {
  font-size: 1.6rem;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.u-text-center {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-large {
  margin-bottom: 6rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-large {
      margin-bottom: 4rem !important; } }

.u-margin-bottom-xlarge {
  margin-bottom: 10rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-xlarge {
      margin-bottom: 8rem !important; } }

.u-margin-top-small {
  margin-top: 2rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-large {
  margin-top: 6rem !important; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(20rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

.btn:link, .btn:visited {
  font-family: inherit;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border-radius: 200px;
  box-sizing: 0px 1rem 3rem rgba(0, 0, 0, 0.2);
  transition: all .2s;
  display: inline-block; }

.btn__button {
  font-family: inherit;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border-radius: 200px;
  box-sizing: 0px 1rem 3rem rgba(0, 0, 0, 0.2);
  transition: all .2s;
  display: inline-block;
  cursor: pointer;
  border: none; }
  .btn__button:hover {
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transform: translateY(-3px); }
  .btn__button:focus {
    box-sizing: 0px 1rem 2rem rgba(0, 0, 0, 0.2);
    outline: none;
    box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transform: translateY(-1px); }

.btn:hover {
  outline: none;
  box-sizing: 0px 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-3px); }

.btn:active {
  outline: none;
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(-1px); }

.btn--white {
  background-color: #fff;
  color: inherit; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }

.btn--animation {
  animation: moveInTop 1s .1s;
  animation-fill-mode: backwards; }

.btn--text {
  display: inline-block; }
  .btn--text:link, .btn--text:visited {
    text-decoration: none;
    font-family: inherit;
    padding-bottom: 4px;
    border-bottom: 1px solid #55c57a;
    font-size: 1.6rem;
    color: #55c57a;
    transition: all .2s; }
  .btn--text:hover {
    background-color: #55c57a;
    color: #fff;
    box-sizing: 0px 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: translateY(-3px); }
  .btn--text:active {
    transform: translateY(-1px);
    box-sizing: 0px 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.composition {
  position: relative;
  z-index: 1; }
  .composition__img {
    width: 55%;
    position: absolute;
    transition: all .2s; }
    @media (max-width: 56.25em) {
      .composition__img {
        position: relative;
        float: left;
        width: 32.5%; } }
    .composition__img:hover {
      outline: 1.5rem solid #55c57a;
      outline-offset: 1.5rem;
      transform: translateY(-1px) scale(1.09); }
    .composition__img--p1 {
      top: -1rem; }
      @media (max-width: 56.25em) {
        .composition__img--p1 {
          top: 1rem;
          left: 0; } }
    .composition__img--p2 {
      top: 4rem;
      left: 20rem; }
      @media (max-width: 56.25em) {
        .composition__img--p2 {
          top: -1rem;
          left: 0;
          z-index: 100;
          transform: scale(1.2); } }
    .composition__img--p3 {
      top: 12rem;
      left: 15%; }
      @media (max-width: 56.25em) {
        .composition__img--p3 {
          top: 1.1rem;
          left: 0;
          transform: scale(1.1); } }

.features {
  text-align: center;
  font-size: 1.6rem; }
  @media (max-width: 56.25em) {
    .features {
      width: 100%; } }
  .features__box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3rem;
    border-radius: 3px;
    box-sizing: 0px 1.5rem 3rem rgba(0, 0, 0, 0.2);
    transition: all .2s; }
    @media (max-width: 56.25em) {
      .features__box {
        padding: 1.2rem 2rem; } }
    .features__box:hover {
      transform: translateY(-1rem) scale(1.04); }
  .features__icon {
    font-size: 6rem;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.81), rgba(40, 180, 133, 0.81));
    color: #fff;
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    width: 100%; }
    @media (max-width: 56.25em) {
      .features__icon {
        margin-bottom: .1rem !important; } }

.card {
  position: relative;
  width: 100%;
  height: 52rem;
  perspective: 150rem; }
  .card__side {
    border-radius: 3px;
    overflow: hidden;
    height: 52rem;
    font-size: 2rem;
    position: absolute;
    width: 100%;
    transition: all .8s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0px 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side > * {
      box-shadow: 0px 0rem 0rem transparent; }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      height: 52rem;
      transform: rotateY(180deg); }
      .card__side--back--1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back--2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back--3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__image {
    height: 23rem;
    background-size: cover;
    background-blend-mode: screen; }
    .card__image--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../img/nat-5.jpg");
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__image--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../img/nat-5.jpg");
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__image--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../img/nat-5.jpg");
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
  .card__heading {
    color: #fff;
    font-weight: 300;
    position: absolute;
    top: 12rem;
    right: 2rem;
    font-size: 2.8rem;
    text-transform: uppercase;
    text-align: end;
    width: 75%; }
  .card__title {
    padding: 1.5rem 1rem;
    -webkit-box-decoration-break: clone; }
    .card__title--span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
  .card__navigation {
    font-size: 1.4rem; }
  .card__list {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    list-style: none; }
  .card__item {
    padding: 1rem; }
    .card__item:not(:last-child) {
      border-bottom: 1px solid #eee; }
  .card__cta {
    width: 80%;
    margin: 0 auto;
    text-align: center; }
  .card__content {
    padding-top: 8rem;
    color: #fff; }
  .card__price {
    font-size: 6rem;
    font-weight: 200; }
  @media (max-width: 56.25em) {
    .card {
      position: relative;
      width: 100%;
      height: auto; }
      .card__side {
        border-radius: 3px;
        height: auto;
        position: relative;
        transition: all .8s;
        -webkit-backface-visibility: hidden; }
        .card__side--front {
          padding-bottom: 10rem; }
        .card__side--back {
          transform: rotateY(0deg);
          -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
          margin-top: -10rem; }
      .card:hover .card__side--front {
        transform: rotateY(0deg); }
      .card__cta {
        margin-bottom: 3rem; }
      .card__content {
        padding-top: 1rem 0 !important; }
      .card__only {
        margin-bottom: 1rem !important; }
      .card__price {
        font-size: 4rem;
        font-weight: 300;
        margin-bottom: 1.5rem !important; } }

.story {
  background: rgba(255, 255, 255, 0.6);
  transform: skewX(-12deg);
  padding: 6rem;
  padding-left: 9rem;
  width: 70%;
  margin: 0 auto;
  box-shadow: 0px 1.5rem 6rem rgba(0, 0, 0, 0.15);
  border-radius: 3px; }
  @media (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media (max-width: 37.5em) {
    .story {
      width: 70%;
      transform: skewX(0deg); } }
  .story > * {
    box-shadow: none; }
  .story__content {
    transform: skewX(12deg);
    font-size: 1.6rem; }
    @media (max-width: 37.5em) {
      .story__content {
        transform: skewX(0deg); } }
  .story__shape {
    height: 15rem;
    width: 15rem;
    transform: skewX(12deg) translateX(-3rem);
    border-radius: 50%;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    overflow: hidden;
    position: relative;
    text-align: center;
    transition: all .4s; }
    @media (max-width: 37.5em) {
      .story__shape {
        transform: skewX(0deg) translateX(-3rem); } }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all .4s; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    opacity: 0;
    color: #fff;
    font-size: 1.7rem;
    text-transform: uppercase;
    transition: all .4s; }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__img {
    filter: brightness(80%) blur(3px);
    transform: translateX(-4rem) scale(1); }

.bg-video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .15;
  overflow: hidden; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.form {
  padding: 6rem;
  width: 50%; }
  @media (max-width: 75em) {
    .form {
      width: 65%; } }
  @media (max-width: 56.25em) {
    .form {
      width: 100%; } }
  .form__group:not(:last-child) {
    margin-bottom: 3rem; }
  .form__input {
    display: block;
    width: 60%;
    padding: 1.5rem 2rem;
    font-family: inherit;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    font-size: 1.4rem;
    border-bottom: 3px solid transparent;
    box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.1);
    color: #777; }
    @media (max-width: 56.25em) {
      .form__input {
        width: 70%; } }
    @media (max-width: 56.25em) {
      .form__input {
        width: 60%; } }
    .form__input::-webkit-input-placeholder {
      color: #999; }
    .form__input:focus {
      outline: none;
      border-bottom: 3px solid #55c57a; }
    .form__input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
  .form__label {
    display: block;
    padding-left: 2rem;
    padding-top: .8rem;
    font-size: 1.3rem;
    color: #777;
    transition: all .2s; }
  .form__input:placeholder-shown ~ .form__label {
    transform: translateY(-4rem);
    visibility: hidden;
    opacity: 0; }
  .form-radio__group {
    display: inline-block;
    width: 40%; }
    @media (max-width: 56.25em) {
      .form-radio__group {
        width: 100%;
        margin-bottom: 2rem; } }
  .form-radio__radio {
    opacity: 0; }
  .form-radio__label {
    font-size: 1.6rem;
    padding-left: 3rem; }
  .form-radio__button {
    height: 1.8rem;
    width: 1.8rem;
    border: 0.5rem solid #55c57a;
    border-radius: 50%;
    position: absolute;
    transform: translateX(-4rem); }
    .form-radio__button:after {
      content: '';
      display: inline-block;
      height: 1.3rem;
      width: 1.3rem;
      background-color: #55c57a;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      visibility: hidden;
      opacity: 0; }
  .form-radio__radio:checked ~ .form-radio__label .form-radio__button:after {
    visibility: visible;
    opacity: 1; }

.popup {
  position: fixed;
  z-index: 6000;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  font-size: 1.4rem;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden; }
  .popup__box {
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    background-color: #fff;
    border-radius: 3px;
    display: table;
    box-shadow: 0px 1.5rem 6rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .3s .1s; }
    .popup__box > * {
      box-shadow: none; }
  .popup__image-box {
    width: 33.3333333%;
    display: table-cell;
    vertical-align: middel; }
  .popup__image {
    vertical-align: top;
    width: 100%; }
  .popup__content-box {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 6rem;
    position: relative; }
  .popup__text {
    column-count: 2;
    column-rule: 1px solid #eee;
    column-gap: 3rem;
    hyphens: auto; }
  .popup__icon, .popup:link, .popup:visited {
    position: absolute;
    top: 3rem;
    right: 3rem;
    color: #777;
    text-decoration: none;
    font-size: 2.5rem;
    line-height: 1.7rem; }
    .popup__icon:hover, .popup:link:hover, .popup:visited:hover {
      color: #55c57a; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__box {
    transform: translate(-50%, -50%) scale(1); }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.81), rgba(40, 180, 133, 0.81)), url(../img/hero-small.jpg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%); }
  @media (min-resolution: 192dpi) and (min-width: 600px), (min-width: 2000px) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.81), rgba(40, 180, 133, 0.81)), url(../img/hero-large.jpg); } }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-box {
    width: 7rem;
    padding-top: 4rem;
    padding-left: 4rem; }
  .header__logo {
    display: inline-block;
    width: 100%; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem;
        padding: 0 3rem; } }
    .row:not(:last-child):after {
      content: '';
      display: table;
      clear: both; }
  @media (max-width: 56.25em) {
    .row {
      max-width: 10rem; } }

[class^="col-"] {
  float: left; }
  [class^="col-"]:not(:last-child) {
    margin-right: 6rem; }
  @media (max-width: 56.25em) {
    [class^="col-"] {
      width: 100% !important;
      margin-bottom: 6rem; } }

.col-1-of-2 {
  width: calc((100% - 6rem)/2); }

.col-1-of-3 {
  width: calc((100% - 2*6rem)/3); }

.col-2-of-3 {
  width: calc(2*(100% - 2*6rem)/3 + 6rem); }

.col-1-of-4 {
  width: calc((100% - 3*6rem)/4); }

.col-2-of-4 {
  width: calc(2*(100% - 3*6rem)/4 + 6rem); }

.col-3-of-4 {
  width: calc(3*(100% - 3*6rem)/4 + 2*6rem); }

.footer {
  padding: 10rem 0 20rem 0;
  background-color: #333;
  color: #eee;
  font-size: 1.6rem;
  height: auto; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 10rem 0 35rem 0; } }
  .footer__logo-box {
    width: 100%;
    text-align: center; }
  .footer__logo {
    width: 15rem; }
  .footer__nav {
    display: inline-block;
    border-top: 1px solid #777;
    padding-top: 2rem; }
    @media (max-width: 56.25em) {
      .footer__nav {
        width: 100%; } }
  .footer__list {
    display: inline-block; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-left: 1rem; }
  .footer__link:link, .footer__link:visited {
    display: inline-block;
    color: #eee;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .1s; }
  .footer__link:hover {
    color: #55c57a;
    transform: rotate(10deg) scale(1.4);
    background-color: #333; }
  .footer__copyright {
    display: inline-block;
    border-top: 1px solid #777;
    padding-top: 2rem;
    width: 80%;
    float: right; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none; } }

.navigation__checkbox {
  display: none; }

.navigation__label-button {
  background-color: #fff;
  height: 7.5rem;
  width: 7.5rem;
  position: fixed;
  border-radius: 50%;
  top: 6rem;
  right: 6rem;
  z-index: 3000;
  cursor: pointer;
  box-shadow: 0px 1.5rem 6rem rgba(0, 0, 0, 0.1); }

.navigation__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 2px;
  display: inline-block;
  background-color: #333;
  position: absolute; }
  .navigation__icon::before {
    content: '';
    display: inline-block;
    position: absolute;
    width: 3rem;
    height: 2px;
    background-color: #333;
    top: .8rem;
    transition: all .2s; }
  .navigation__icon::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 3rem;
    height: 2px;
    background-color: #333;
    top: -.8rem;
    transition: all .2s; }

.navigation__background {
  background-color: #55c57a;
  height: 6rem;
  width: 6rem;
  position: fixed;
  border-radius: 50%;
  top: 6.5rem;
  right: 6.5rem;
  z-index: 1000;
  background-image: radial-gradient(#7ed56f, #28b485);
  transition: all 0.8s 0.1s cubic-bezier(0.785, 0.135, 0.15, 0.86); }

.navigation__nav {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 0%;
  visibility: hidden;
  opacity: 0;
  z-index: 1500;
  transition: all 0.8s 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  display: inline-block;
  list-style: none;
  z-index: 3000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.navigation__item {
  background-image: linear-gradient(105deg, transparent 50%, #fff 50%);
  padding: 1.5rem 2rem;
  text-align: center;
  background-size: 220%;
  transition: all .3s;
  color: #fff; }
  .navigation__item:hover {
    background-position: 100%;
    color: #55c57a;
    transform: translateX(1rem); }

.navigation__link {
  text-decoration: none;
  font-size: 3rem;
  text-transform: uppercase;
  color: inherit;
  font-weight: 300; }

.navigation__span {
  display: inline-block;
  padding-right: 1rem; }

.navigation__label-button:hover .navigation__icon::before {
  top: 1rem; }

.navigation__label-button:hover .navigation__icon::after {
  top: -1rem; }

.navigation__checkbox:checked ~ .navigation__label-button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked ~ .navigation__label-button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.navigation__checkbox:checked ~ .navigation__label-button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  visibility: visible;
  opacity: 1; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.section-about {
  background-color: #f7f7f7;
  padding: 40rem 0;
  margin-top: -40rem;
  padding-bottom: 50rem; }
  @media (max-width: 56.25em) {
    .section-about {
      padding-bottom: 65rem; } }

.section-features {
  padding: 20rem 0 50rem 0;
  margin-top: -10rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.81), rgba(40, 180, 133, 0.81)), url(../img/nat-4.jpg);
  background-size: cover;
  transform: skewY(-7deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 5rem 0 112rem 0; } }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 5rem 0 120rem 0; } }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -10rem; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 15rem 0 12rem 0; } }

.section-story {
  padding: 10rem 0;
  position: relative; }
  @media (max-width: 56.25em) {
    .section-story {
      padding: 5rem 0; } }

.section-booking {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  padding: 15rem 0; }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0px 1rem 6rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 65%, transparent 50%), url(../img/nat-10.jpg); } }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 100%, transparent 50%), url(../img/nat-10.jpg); } }
  .book > * {
    box-shadow: none; }
