.navigation {
    &__checkbox {
        display: none;
    }

    &__label-button {
        background-color: $color-white;
        height: 7.5rem;
        width: 7.5rem;
        position: fixed;
        border-radius: 50%;
        top: 6rem;
        right: 6rem;
        z-index: 3000;
        cursor: pointer;

        box-shadow: 0px 1.5rem 6rem rgba($color-black, .1);


    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 3rem;
        height: 2px;
        display: inline-block;
        background-color: $color-grey-dark-3;
        position: absolute;



        &::before {
            content: '';
            display: inline-block;
            position: absolute;
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            top: .8rem;
            transition: all .2s;
        }

        &::after {
            content: '';
            display: inline-block;
            position: absolute;
            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            top: -.8rem;
            transition: all .2s;
        }

    }

    &__background {
        background-color: $color-primary;
        height: 6rem;
        width: 6rem;
        position: fixed;
        border-radius: 50%;
        top: 6.5rem;
        right: 6.5rem;
        z-index: 1000;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        transition: all .8s .1s cubic-bezier(0.785, 0.135, 0.15, 0.86);



        //transform: scale(80);
    }

    &__nav {
        top: 0;
        left: 0;
        position: fixed;
        height: 100vh;
        width: 0%;
        visibility: hidden;
        opacity: 0;
        z-index: 1500;
        transition: all .8s .1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        position: absolute;
        display: inline-block;
        list-style: none;
        z-index: 3000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__item {

        background-image: linear-gradient(105deg, transparent 50%, $color-white 50%);
        padding: 1.5rem 2rem;
        text-align: center;
        background-size: 220%;
        transition: all .3s;
        color: $color-white;

        &:hover {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }

    &__link {
        text-decoration: none;
        font-size: 3rem;
        text-transform: uppercase;
        color: inherit;
        font-weight: 300;

    }

    &__span {
        display: inline-block;
        padding-right: 1rem;
    }

    &__label-button:hover &__icon::before {
        top: 1rem;
    }

    &__label-button:hover &__icon::after {
        top: -1rem;
    }

    &__checkbox:checked~&__label-button &__icon::before {
        top: 0;
        transform: rotate(135deg);
    }

    &__checkbox:checked~&__label-button &__icon::after {
        top: 0;
        transform: rotate(-135deg);
    }

    &__checkbox:checked~&__label-button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked~&__nav {
        width: 100%;
        visibility: visible;
        opacity: 1;
    }

    &__checkbox:checked~&__background {
        transform: scale(80);
    }

}