.form {
  padding: 6rem;

  width: 50%;

  @include respond(tab-land) {
    width: 65%;
  }

  @include respond(tab-port) {
    width: 100%;
  }

  &__group {

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  &__input {
    display: block;
    width: 60%;
    padding: 1.5rem 2rem;
    font-family: inherit;
    border: none;
    background-color: rgba($color-white, .9);
    border-radius: 3px;
    font-size: 1.4rem;
    border-bottom: 3px solid transparent;
    box-shadow: 0px 1rem 2rem rgba($color-black, .1);
    color: $color-grey-dark-1;

    @include respond(tab-port) {
      width: 70%;
    }

    @include respond(tab-port) {
      width: 60%;
    }

    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }

    &:focus {
      outline: none;
      border-bottom: 3px solid $color-primary;
    }

    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }
  }

  &__label {
    display: block;
    padding-left: 2rem;
    padding-top: .8rem;
    font-size: 1.3rem;
    color: #777;
    transition: all .2s;
  }

  &__input:placeholder-shown~&__label {
    transform: translateY(-4rem);
    visibility: hidden;
    opacity: 0;
  }

  &-radio {


    &__group {
      display: inline-block;
      width: 40%;

      @include respond(tab-port) {
        width: 100%;
        margin-bottom: 2rem;
      }

    }

    &__radio {
      opacity: 0;
    }

    &__label {
      font-size: $font-primary;
      padding-left: 3rem;

    }

    &__button {
      height: 1.8rem;
      width: 1.8rem;
      border: .5rem solid $color-primary;
      border-radius: 50%;
      position: absolute;
      transform: translateX(-4rem);

      &:after {
        content: '';
        display: inline-block;
        height: 1.3rem;
        width: 1.3rem;
        background-color: $color-primary;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        visibility: hidden;
        opacity: 0;
      }
    }

    &__radio:checked~&__label &__button:after {
      visibility: visible;
      opacity: 1;
    }
  }



}