body{
    line-height: 1.6;
    font-family: "Lato", sans-serif;
    color:$color-grey-dark-1;
}
.heading-primary{
    color:$color-white;
    text-transform: uppercase;
    
    &__main{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.7rem;
    animation: moveInLeft 1s .1s ease-out;
    @include respond(phone){
        font-size: 3.5rem;
        letter-spacing: 2rem;  
    }
    
    }
    &__sub{
        display: block;
        font-size: 2rem;
        letter-spacing: 1.8rem;
        animation: moveInRight 1s .1s ease-out;
        @include respond(phone){
            font-size: 1.8rem;
            letter-spacing: 1.2rem;  
        }
    }
}
.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    background-image: linear-gradient(to right bottom, rgba($color-primary-light,.81),rgba($color-primary-dark,.81));
    color:$color-white;
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
    width: 100%;
    transition: all .2s;

    @include respond(tab-port){
        font-size: 3rem;
    }
    @include respond(phone){
        font-size: 2.5rem;
          
    }
  
    &:hover{
        transform: skewX(12deg) skewY(2deg) scale(1.09);
    }
 
}
.heading-tertiary{
    font-size: $font-primary;
    text-transform: uppercase;
}
.paragraph{
    font-size:$font-primary; 
    &:not(:last-child){
    margin-bottom: 2rem;
    }
}